/* CSS declarations go here */

body{
  background-color: #F5E8F5;
}

.buttonContainer {
  height: 100%;
}

.clickBox {
  text-align: center;
  background-color: #44E3E0;
  border-radius: 0 0 10px 10px;
}

.contact {
  display: inline-block;
  padding-bottom: 10px;
  background-color: #DA6F7F;
  height: 100%;
  text-align: center;
  opacity: 0.75;
}

.contact:hover{
  background-color: #D770AE;
}

.epTitle{
  text-align: center;
}

.itemInfo{
  background-color: #44E3E0;
  border-radius: 10px 10px 0 0;

}

.listItem {
  height: 100%;
  width: 80%;
  margin-top: 20px;
}

.navContainer {
  background-color: #7CCDDB;
}

.open h3 {
  color: black;
  font-weight: normal;
}

.playerContainer {
  height: 0px;
  width: 60%;
  margin-left: 20%;
  background-color: #DCD9D9;
}

.playerInnerContainer {
  background-color: "red";
}

.seeAll {
  text-align: center;
  display: inline-block;
  background-color: #DA6F7F;
  padding-bottom: 10px;
  height: 100%;
  opacity: 1;
  border-right: 2px solid gray;
}

.seeAll:hover{
  background-color: #D770AE;
}

.symbol{
  text-align: center;
  margin-left: 50%;
  margin-top: -100px;
  margin-bottom: -30px;
}
.symbol h1{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  width: 0px;
  text-align: center;
  font-size: 150px;
}

.titleBox {
  margin-bottom: 20px;
}

/*//begin ids*/

#archive {
  margin-left: 10%;
  font-size: 45px;
  font-style: italic;
}

#siteTag {
  font-size: 22px;
  font-weight: bold;
  margin-top: -10px;
  margin-left: 35px;
}

#siteTitle {
  font-size: 60px;
  font-weight: bold;
  font-style: '#7BAFA0';
  margin-left: 20px;
}
