/* CSS declarations go here */

.buttonContainer {
  height: 100%;
}

.clickBox {
  text-align: center;
  background-color: #7BAFA0;
  border-radius: 0 0 20px 20px;
}

.contact {
  display: inline-block;
  padding-bottom: 10px;
  background-color: green;
  height: 100%;
  text-align: center;
}

.epTitle{
  text-align: center;
}

.itemInfo{
  background-color: #7BAFA0;
  border-radius: 20px 20px 0 0;

}

.listItem {
  height: 100%;
  width: 80%;
  margin-top: 20px;
}

.navContainer {
  outline: 2px solid black;
}

.open h3 {
  color: gray;
  font-weight: normal; 
}

.seeAll {
  text-align: center;
  display: inline-block;
  background-color: green;
  padding-bottom: 10px;
  height: 100%;
}

.symbol{
  width: 100%;
  text-align: center;
  margin-left: 50%;
  margin-top: -100px;
  margin-bottom: -30px;
}
.symbol h1{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  width: 0px;
  text-align: center;
  font-size: 150px;
}

.titleBox {
  outline: 2px solid blue;
  margin-bottom: 20px;
}


/*//begin elements*/

#siteTag {
  font-size: 22px;
  font-weight: bold;
  margin-top: -10px;
}

#siteTitle {
  font-size: 45px;
  font-weight: bold;
}
